<div class="col-md-10 col-md-offset-1">
  <h2><%= @task.title %></h2>
  <p><%= @task.description %></p>  

  <div class="col-md-4 col-md-offset-4">
    <%= link_to "Back", root_path %>
    <%= link_to "Edit", edit_task_path(@task) %>
    <%= link_to "Delete", task_path(@task), method: :delete, data: { confirm: "Are you sure you want to delete it?" } %>
  </div>
</div>